<% content_for :page_title do %>
  <%= @category.name %>
<% end %>

<%= render :partial => 'topic_post', :locals => {:topic_post => @topic} %>
<%= render :partial => 'topic_post', :collection => @posts %>

<div id="reply">
  <h3>Your reply</h3>
  <%= form_for [@category, @topic, Post.new] do |form| %>
    <%= form.text_area :text %><br />
    <%= form.submit 'Submit', :class => "awesome small black" %>
  <% end %>
</div>