<% content_for :page_title do %>
  <%= @category.name %>
<% end %>

<style type="text/css" media="screen">
  .created_at{
    background: #666666;
    color: #ccc;
    padding: 2px 5px;
  }
  .author{
    background: #eee;
    height: 40px;
    padding: 7px;
  }
  .author .gravatar{
    width: 40px;
    height: 40px;
    background: #ccc;
    float: left;
  }
  .author .user{
    height: 40px;
    margin-left: 10px;
    float: left;
  }
  .author .user-role{
    font-size: 14px;
  }
  .author .actions{
    height: 40px;
    float: right;    
  }
  
  .post h2{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }
  .post .post-body{
    margin: 10px 0;
  }
  .post .footer{
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px dashed #ccc;
    margin-bottom: 40px;
    color: #ccc;
  }
  #reply{
    border-top: 1px solid #ccc;
  }
  #reply textarea{
    width: 500px;
    height: 100px;
  }
</style>

<div id="topic-<%= @topic.id %>">
  <div class="created_at">
    <%= distance_of_time_in_words_to_now @topic.created_at %>
  </div>
  <div class="author">
    <div class="gravatar"><%= image_tag gravatar(@topic.user.email, 40) %></div>
    <div class="user">
        <%= link_to @topic.user_name, user_path(@topic.user_id) %><br />
        <span class="user-role">member</span>
    </div>
    <div class="actions">
      <% if admin? %>
        <%= link_to 'Delete', [@category, @topic], :method => :delete, :"data-confirm" => "Are you sure?" %> | 
      <% end %>
      <%= link_to 'Reply', :anchor => 'reply' %>
    </div>
  </div>
  <div class="post">
    <h2><%= @topic.title %></h2>
    <div class="post-body">
      <%= @topic.text %>
    </div>
    <div class="footer">
      <%= @topic.user_name %>
    </div>
  </div>
</div>

<% @posts.each do |post| %>
  <div id="post-<%= post.id %>" class="topic-post">
    <div class="created_at">
      <%= distance_of_time_in_words_to_now post.created_at %>
    </div>
    <div class="author">
      <div class="gravatar"><%= image_tag gravatar(post.user.email, 40) %></div>
      <div class="user">
          <%= link_to post.user_name, users_path(post.user_id) %><br />
          <span class="user-role">member</span>
      </div>
      <div class="actions">
        <% if admin? %>
          <%= link_to 'Delete', [@category, @topic, post], :method => :delete, :"data-confirm" => "Are you sure?" %> | 
        <% end %>
        <%= link_to 'Reply', :anchor => 'reply' %>
      </div>
    </div>
    <div class="post">
      <div class="post-body">
        <%= post.text %>
      </div>
      <div class="footer">
        <%= @topic.user_name %>
      </div>
    </div>
  </div>
<% end %>

<div id="reply">
  <h3>Your reply</h3>
  <%= form_for [@category, @topic, Post.new] do |form| %>
    <%= form.text_area :text %><br />
    <%= form.submit 'Submit', :class => "button orange" %>
  <% end %>
</div>