<h1 class="page_title">Login</h1>

<p>Don't have an account? <%= link_to "Register here", new_user_path %></p>

<%- form_tag sessions_path do -%>
  <ul id="register">
    <li>
      <%= label_tag 'email', 'Email' %>
      <%= text_field_tag :email %>
    </li>
    <li>
      <%= label_tag 'password', "Password &ndash; #{link_to 'I forgot my password', '#'}".html_safe %>
      <%= password_field_tag :password %>
    </li>
    <li class="submit">
      <%= submit_tag 'Sign In', :disable_with => 'Signing you in...' %>
    </li>
  </ul>
<%- end -%>