<li id="category-<%= category.id %>" class="category">
  <div class="category-name">
    <%= link_to category do %>
      <%= category.name %>
      <span><%= category.description %></span>
    <% end %>
    <% if admin? %>
    <div class="actions" style="display:none">
      <%= link_to "Edit", "#", :class => "action-edit", :'data-category' => "#{category.id}" %> |
      <%= link_to "Destroy", category, :method => :delete, :remote => true %>
    </div>
    <% end %>
  </div>

  <% if admin? %>
  <div class="category-update-form" style="display:none">
    <%= form_for category, :remote => true do |form| %>
      <%= render :partial => 'categories/form', :locals => {:form => form} %>
      <%= form.submit "Update", :class => "awesome small black" %> 
      or 
      <%= link_to "Cancel", "#", :class => "action-cancel", :'data-category' => "#{category.id}" %>
    <% end %>
  </div>
  <% end %>
  <div class="clear"></div>
</li>
