<% content_for :page_title do %>
  <%= @category.name %>
<% end %>

<style type="text/css" media="screen">
  .data thead{
    background: #ccc;
    color: #333;
  }
  .data th{
    font-weight: bold;
    padding: 5px 10px;
  }
  .data th, .data td{
    text-align: left;
  }
  .data .center{
    text-align:center;
  }
  .data td{
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  .even{
    background-color: #f5f5f5;
  }
  .odd{
    background-color: #fafafa;
  }
</style>

<div class="" style="margin: 10px 0">
  <%= link_to "Create new topic", new_category_topic_path(@category), :class => 'awesome medium orange' %>
</div>

<table class="data" width="100%" cellspacing="0" cellpadding="0">
  <thead>
    <th width="70%">Title</th>
    <th width="10%" class="center">Replies</th>
    <th width="20%">Last Post</th>
  </thead>
  <tbody>  
    <% @topics.each do |topic| %>
      <tr class="topic-<%= topic.level %> <%= cycle(:odd, :even) %>">
        <td>
          <%= link_to topic.title, [@category, topic] %><br />
          <%= topic.user_name %>
        </td>
        <td class="center"><%= topic.post_count %></td>
        <td>
          <%= link_to distance_of_time_in_words_to_now(topic.updated_at), category_topic_path(topic.category, topic, :anchor => "post-#{topic.last_post_id}") %><br />
          by <%= topic.last_user_name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>