<!DOCTYPE html>
<html>
<head>
  <title>Forums</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'jquery-1.4.2.min.js', 'rails.jquery.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper" class="content">
    <div id="header">
      <h1 class="page_title">Forums Comunity</h1>
      <div id="login">
        <% if signed_in? %>
          Logged in as <%= link_to current_user.name, current_user %> | <%= link_to "Logout", logout_path %>
        <% else %>
          <%= link_to 'register', new_user_path %> <%= link_to 'login', users_path %>
        <% end %>
      </div>
    </div>
    
    <div id="breadcrump">
      <%= breadcrumps.join(" &raquo; ").html_safe %>
    </div>
    
    <div id="main">
      <%= yield %>
    </div>
    <div id="footer">
    </div>
  </div>
</body>
</html>
