<!DOCTYPE html>
<html>
<head>
  <title>Forums</title>
  <%= stylesheet_link_tag 'reset', 'application', 'buttons', 'users' %>
  <%= javascript_include_tag 'jquery-1.4.2.min.js', 'rails.jquery.js', 'flasher.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper" class="content">    
    <div id="main">
      <%= yield %>
    </div>
  </div>
  <%= render :partial => 'shared/notices' %>
</body>
</html>
